@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color:#4F4F4F;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
.App {
  background-color: #fafafb;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary {
  padding: 8px 16px;
  color: #fff;
  background: #2f80ed;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.btn-primary:hover {
 background: #2a5ea1; 
}
.btn-success {
  padding: 8px 16px;
  color: #fff;
  background: #219653;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.btn-success:hover {
  background: #1b6139;
}
.active {
  opacity: 0.3;
  border: 2px dashed #2a5ea1 !important;
}